<div class="imagemFundo">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      Quem é delivery 2U
    </div>
    <div class="col-sm-12 col-md-4">
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      Cadastre sua Loja
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      Politica e privacidade
    </div>
    <div class="col-sm-12 col-md-4">
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      Seja um Parceiro de Entregas!
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      Fale conosco
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      falecom@delivery2u.com.br
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      Seja dono do Delivery 2U na sua Cidade!
    </div>
  </div>
</div>
