<div class="row container-fluid justify-content-center align-items-center">
  <div class="card bg-dark mb-3 col-md-12 mt-5 col-sm-12">
    <div class="row g-0">
      <div class="col-md-4 col-sm-2">
        <img src="../../assets/9525.png" class="img-fluid rounded-circle mt-4 mb-4 ms-5">
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="card-body mt-4">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Marius finibus ligula a ornare
            tincidunt. Orci varius natoque penatibus et magnis dis partuient montes,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row container-fluid justify-content-center align-items-center">
  <div class="card bg-dark mb-3 col-md-12 col-sm-12 mt-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-8 col-sm-10">
        <div class="card-body mt-4">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Marius finibus ligula a ornare
            tincidunt. Orci varius natoque penatibus et magnis dis partuient montes,</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/2968.png" class="img-fluid rounded-circle mt-4 mb-4 ms-5">
      </div>
    </div>
  </div>
</div>

<div class="row container-fluid justify-content-center align-items-center">
  <div class="card bg-dark mb-3 col-md-12 col-sm-12 mt-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/3061901.png" class="img-fluid rounded-circle mt-4 mb-4 ms-5">
      </div>
      <div class="col-md-8 col-sm-10">
        <div class="card-body mt-4">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Marius finibus ligula a ornare
            tincidunt. Orci varius natoque penatibus et magnis dis partuient montes,</p>
        </div>
      </div>
    </div>
  </div>
</div>
